* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Landing Page */

header a {
    text-decoration: none;
    color: inherit;
    font-family: sans-serif;
    font-size: 1.5em;
    color: black;
}

header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 1em 2em;
    background-color: blanchedalmond;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 100vw;
}

.social {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.social li {
    padding-left: 2em;
}

.contact-dropdown {
    margin-right: auto;
}

.contact-dropdown button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.contact-dropdown button:hover,
.social a:hover {
    color: gray;
}

.contact {
    margin-top: 0.5em;
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-left: 0.5em;
    padding-right: 0.5em;
    align-items: flex-start;
    width: fit-content;
    height: 5em;
    background: white;
    list-style: none;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.4s ease;
  }

.contact li {
      letter-spacing: 0.1em;
  }

.contact .close {
    position: absolute;
    top: 0.6em;
    right: 0.6em;
    font-size: 0.7em;
}

.contact .close:hover {
    animation: wobble 1s infinite alternate;
}

.landing-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 3em;
}

.text-container {
    position: absolute;
    align-self: flex-start;
    right: 2.6em;
    text-align: right;
    padding-top: 4em;
    max-width: 60%;
    font-size: 1em;
}

.top,
.bottom {
    opacity: 0;    
    transition: opacity 4s ease;
    font-family: sans-serif;
}

.typed-text {
    font-family: sans-serif;
}

.landing-page .scroll {
    position: absolute;
    bottom: 8em;
    border: none;
    background-color: transparent;
    width: 6em;
    height: 6em;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 2s ease;
    animation: push 3s infinite;
}

.landing-page .scroll:hover {
    background-color: rgba(255, 255, 255, 40%);
}

.landing-page button a i {
    font-size: 3em;
    padding: 0.2em;
}

/* Typing effect */

.skip {
    border: 0.2em solid black;
    border-radius: 5px;
    position: absolute;
    right: 2.6em;
    bottom: 2.6em;
    background-color: transparent;
    padding: 1em;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    opacity: 0.2;
}

.skip:hover {
    background-color: rgba(255, 255, 255, 40%);
    opacity: 1;
}

.landing-page h1 {
    overflow: hidden;
    padding: 0.4em;
}

.cursor {
    display: inline-block;
    width: 0.05em;
    background-color: black;
    margin-left: 0.05em;
    animation: blink 1s linear infinite;
}

.cursor.typing {
    animation: none;
}

@keyframes blink {
    0%, 49%, 100% { background-color: black; }
    50%, 99% { background-color: transparent; }
}

@keyframes wobble {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes push {
    0%, 100% { bottom: 8em; }
    50% { bottom: 5em; }
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main.unloaded,
footer.unloaded {
    display: none;
}

.up {
    position: sticky;
    align-self: flex-end;
    border: none;
    bottom: 2em;
    background-color: transparent;
    margin-right: 1em;
    width: 4em;
    height: 4em;
    line-height: 0;
    border-radius: 50%;
    cursor: pointer;
}

.up:hover {
    background-color: rgba(255, 235, 205, 40%);
}

.up a i {
    font-size: 2em;
    padding: 0.2em;
    color: black;
}

#to-projects,
#to-about {
    position: absolute;
    border: 0.2em solid black;
    border-radius: 5px;
    position: absolute;
    left: 3em;
    bottom: 3em;
    background-color: transparent;
    padding: 1em;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#to-projects:hover {
    background-color: beige;
}

/* About Me */

.flex-container {
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    position: relative;
}

#about {
    width: 100vw;
    height: 100vh;
    justify-content: space-between;
    align-content: center;
}

.path {
    width: 100%;
    height: 100%;
    background-image: url("./media/Career Path.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.tooltip {
    position: absolute;
    opacity: 0;
    transition: transform 1s ease;
    padding: 4em;
}

.tooltip .text {
    text-transform: uppercase;
    font-size: 0.8em;
    list-style: none;
    color: black;
}

.tooltip li {
    font-family: "Architects Daughter", cursive;
}

.spotahome {
    bottom: 10em;
    left: 0;
}

.starling {
    top: 9em;
    left: 14em;
}

.codecademy {
    bottom: 8.5em;
    right: 5em;
}

.tooltip:hover {
    /* opacity: 1; */
    animation: reveal 30s linear 1 0.6s;
}

.spotahome:hover {
    transform: translateY(4em);
}

.starling:hover,
.codecademy:hover {
    transform: translateY(-4em);
}

.about {
    max-width: 50%;
    height: 100%;
    padding: 5em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
    background-color: transparent;
}

.about h1 {
    padding-bottom: 3em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.about p {
    line-height: 2;
}

@keyframes reveal {
    0% { opacity: 0; }
    5%, 100% { opacity: 1; } 
}

/* Projects section */

.grid-container {
    position: relative;
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
    padding: 5em;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
    grid-gap: 3em;
    grid-template-areas:
        "a title title"
        "a b c"
        ". b c"
        ". . c";
    margin-bottom: -4em;
    border-bottom: 3px solid black;
}

.project {
    border: 1px dotted black;
    background-image: url("./media/placeholder-image.png");
    background-size: cover;
    background-position: center;
}

.title {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: none;
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.title h3 {
    text-transform: uppercase;
    font-size: 4em;
    letter-spacing: 0.1em;
}

/* Footer */

.foot-nav {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    padding-top: 1.2em;
    padding-bottom: 0.8em;
    align-items: center;
    align-content: center;
}

.foot-nav a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

.foot-nav a:hover {
    color: gray;
}

.foot-social,
.foot-contact,
.copyright,
.foot-nav li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.foot-social li,
.foot-contact li,
.copyright {
    font-size: 1em;
    text-transform: uppercase;
    padding: 0 1.5em;
    align-self: center;
    align-content: center;
    font-family: monospace;
}